<div class="all">
 <header class = "bg-warning d-flex justify-content-between">
  <div class="fs-1">
    <%=link_to 'Cat House',root_path, class:"fs-1 text-secondary text-decoration-none", id:"title" %>
    </div>
    <ul class= "mt-3 mx-3 d-flex text-secondary text-decoration-none">
    <% if user_signed_in?%>
      <li class = "user-nickname"><%=current_user.nickname%>さん</li>
      <li><%=link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "text-secondary text-decoration-none"%></li>
      <% else %>
      <li> <%= link_to '新規登録',  new_user_registration_path, class: " text-secondary text-decoration-none", id: "registrations"%> </li>
      <li> <%= link_to 'ログイン',  user_session_path, class: "m-3  text-secondary text-decoration-none",id: "sessions"%></li>
      <% end %>
    </ul>
 </header>


 <section>



<%if @cats.length == 0 %>
  <div class="list">
   <%= image_tag "sample3.jpg", class: "image-2"%>
  <h1>見出しを入れます。</h1>
  <%= link_to '詳細を見る', "#", class: "cat-show", id: "cat-show"%>
 </div>
<% end %>

 <% @cats.each do |cat| %>
  <div class= "list">
     <%=image_tag cat.images[0],class:"image-2 "%>
   <h1 class= "pt-3"> <%=cat.cat_name%></h1>
       <div class="cat-age"> <%= cat.age.name%></div>
   <%= link_to '詳細を見る', post_path(cat.id), class: "cat-show", id: "cat-show"%>
   </div>
  <% end %>

 </section>


 <%= link_to(new_post_path, class: 'cat-btn') do %>
  <div class='cat-btn-text'>募集する</div>
  <%= image_tag 'cat.png' ,class: "cat-btn-icon" , id: "cat-icon"%>
 <% end %>

   <div id='hello'>
   <p>{{message}}<p>
   
   </div>
